/* All elements style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body style */
body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/pexels-sevenstorm-juhaszimrus-575386.jpg);
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Container style */
.container {
  position: absolute;
  width: 10rem;
  height: 100%;
  padding-left: 5px;
  right: 0;
  background-image: url(../img/pexels-jesse-zheng-1213294.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
/* Box container style */
.box {
  position: absolute;
  width: 10px;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: w-resize;
}
.box::before {
  content: "< >";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 3px solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
